In [1]:
from scipy.stats import rankdata
import scipy as sp
import numpy as np
import pandas as pd
import datetime

In [4]:
df = pd.read_csv('./alldata.csv', encoding="ISO-8859-1")

C:\Users\tanya\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [34]:
df['Trddt'] = pd.to_datetime(df['Trddt'], format='%Y-%m-%d')
df

,Stkcd,Trddt,Opnprc,Hiprc,Loprc,Clsprc,Dnshrtrd,Dnvaltrd,Dsmvosd,Dsmvtll,Dretwd,Dretnd,Adjprcwd,Adjprcnd,Markettype,Capchgdt,Trdsta,IndustryCode,IndustryName
0,1,2010-01-04,24.520,24.580,23.680,23.710,24192276,5.802495e+08,69330749.18,73629834.50,-0.027082,-0.027082,818.361203,710.377219,4,2009-10-15,1,480101.0,ÒøÐÐ
1,1,2010-01-05,23.750,23.900,22.750,23.300,55649982,1.293477e+09,68131862.33,72356606.65,-0.017292,-0.017292,804.209870,698.093176,4,2009-10-15,1,480101.0,ÒøÐÐ
2,1,2010-01-06,23.250,23.250,22.720,22.900,41214313,9.444537e+08,66962216.62,71114433.15,-0.017167,-0.017167,790.403692,686.108744,4,2009-10-15,1,480101.0,ÒøÐÐ
3,1,2010-01-07,22.900,23.050,22.400,22.650,35533685,8.041663e+08,66231188.06,70338074.71,-0.010917,-0.010917,781.774831,678.618474,4,2009-10-15,1,480101.0,ÒøÐÐ
4,1,2010-01-08,22.500,22.750,22.350,22.600,28854306,6.506674e+08,66084982.34,70182803.02,-0.002208,-0.002208,780.049059,677.120420,4,2009-10-15,1,480101.0,ÒøÐÐ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8672604,900957,2022-01-24,0.633,0.638,0.615,0.621,479100,2.998840e+05,114264.00,216729.00,-0.026646,-0.026646,0.625923,0.620999,2,2000-08-03,1,620201.0,×°ÐÞ×°ÊÎ
8672605,900957,2022-01-25,0.617,0.620,0.607,0.611,372779,2.281030e+05,112424.00,213239.00,-0.016103,-0.016103,0.615844,0.610999,2,2000-08-03,1,620201.0,×°ÐÞ×°ÊÎ
8672606,900957,2022-01-26,0.614,0.617,0.610,0.614,222600,1.362910e+05,112976.00,214286.00,0.004910,0.004910,0.618868,0.613999,2,2000-08-03,1,620201.0,×°ÐÞ×°ÊÎ
8672607,900957,2022-01-27,0.610,0.613,0.605,0.612,245100,1.487580e+05,112608.00,213588.00,-0.003257,-0.003257,0.616852,0.611999,2,2000-08-03,1,620201.0,×°ÐÞ×°ÊÎ
8672608,900957,2022-01-28,0.615,0.618,0.608,0.617,214934,1.319240e+05,113528.00,215333.00,0.008170,0.008170,0.621892,0.616999,2,2000-08-03,1,620201.0,×°ÐÞ×°ÊÎ

In [55]:
df1 = pd.read_csv('FI_T1.csv', names=['code', 'date', 'type', 'current', 'quick', 'cash', 'asset_liabilities'], skiprows=1)
df1['date'] = pd.to_datetime(df1['date'], format='%Y-%m-%d')
df1 = df1[df1.date >= datetime.datetime(2010,1,1)].fillna(0)
df1['total'] = df1.apply(lambda row: row.current + row.quick + row.cash + row.asset_liabilities, axis=1)
df1

,code,date,type,current,quick,cash,asset_liabilities,total
52,1,2010-03-31,A,0.000000,0.000000,0.000000,0.964335,0.964335
53,1,2010-06-30,A,0.000000,0.000000,0.000000,0.951279,0.951279
54,1,2010-09-30,A,0.000000,0.000000,0.000000,0.952384,0.952384
55,1,2010-12-31,A,0.000000,0.000000,0.000000,0.954349,0.954349
56,1,2011-03-31,A,0.000000,0.000000,0.000000,0.955483,0.955483
...,...,...,...,...,...,...,...,...
417595,900957,2021-06-30,B,0.049179,0.049179,0.005339,0.175547,0.279244
417596,900957,2021-09-30,A,3.237560,3.237560,0.108620,0.499556,7.083296
417597,900957,2021-12-31,A,2.615010,2.615010,0.006072,0.485731,5.721823
417598,900957,2021-12-31,B,0.022762,0.022762,0.003434,0.163463,0.212421
417599,900957,2022-03-31,A,2.686638,2.686638,0.010447,0.482991,5.866714

In [54]:
df2 = pd.read_csv('FI_T4.csv', names=['code', 'date', 'type', 'ar', 'inventory', 'total_assets'], skiprows=1)
df2['date'] = pd.to_datetime(df2['date'], format='%Y-%m-%d')
df2 = df2[df2.date >= datetime.datetime(2010,1,1)].fillna(0)
df2['total'] = df2.apply(lambda row: row.ar + row.inventory + row.total_assets, axis=1)
df2

          code       date type        ar  inventory  total_assets     total
51           1 2010-03-31    A  0.553485        0.0      0.025795  0.579280
52           1 2010-06-30    A  0.575230        0.0      0.026809  0.602039
53           1 2010-09-30    A  0.681562        0.0      0.026964  0.708526
54           1 2010-12-31    A  0.520823        0.0      0.026710  0.547533
55           1 2011-03-31    A  0.512961        0.0      0.026932  0.539893
...        ...        ...  ...       ...        ...           ...       ...
409880  900957 2021-06-30    B  0.000000        0.0      0.005464  0.005464
409881  900957 2021-09-30    A  0.458742        0.0      0.102974  0.561716
409882  900957 2021-12-31    A  0.477495        0.0      0.111285  0.588780
409883  900957 2021-12-31    B  0.000000        0.0      0.005854  0.005854
409884  900957 2022-03-31    A  0.441853        0.0      0.111597  0.553450

[310824 rows x 7 columns]

In [53]:
df3 = pd.read_csv('FI_T5.csv', names=['code', 'date', 'type', 'roa', 'roe', 'gross', 'net'], skiprows=1)
df3['date'] = pd.to_datetime(df3['date'], format='%Y-%m-%d')
df3 = df3[df3.date >= datetime.datetime(2010,1,1)].fillna(0)
df3['total'] = df3.apply(lambda row: row.roa + row.roe + row.gross + row.net, axis=1)
df3

,code,date,type,roa,roe,gross,net,total
52,1,2010-03-31,A,0.009611,0.280066,0.000000,0.398848,0.688525
53,1,2010-06-30,A,0.009870,0.237663,0.000000,0.368431,0.615964
54,1,2010-09-30,A,0.009968,0.239194,0.000000,0.372328,0.621490
55,1,2010-12-31,A,0.009557,0.234177,0.000000,0.357811,0.601545
56,1,2011-03-31,A,0.009959,0.244847,0.000000,0.427619,0.682425
...,...,...,...,...,...,...,...,...
422049,900957,2021-06-30,B,0.028113,0.034059,0.000000,4.505462,4.567634
422050,900957,2021-09-30,A,0.025301,0.051332,0.547822,0.243768,0.868223
422051,900957,2021-12-31,A,0.027209,0.053938,0.570339,0.244499,0.895985
422052,900957,2021-12-31,B,0.023808,0.028701,0.000000,4.067046,4.119555
422053,900957,2022-03-31,A,0.026372,0.051968,0.544884,0.265327,0.888551

In [45]:
df2.groupby('date').count()

            code  type    ar  inventory  total_assets
date
2010-03-31  3655  3655  2941       2868          3059
2010-06-30  4015  4015  3180       3113          3301
2010-09-30  4043  4043  3162       3090          3311
2010-12-31  4899  4899  4645       4590          4699
2011-03-31  4246  4246  3378       3349          3542
2011-06-30  4529  4529  3731       3714          3901
2011-09-30  4534  4534  3772       3745          3939
2011-12-31  5179  5179  4954       4839          4885
2012-03-31  4671  4671  4023       3954          4179
2012-06-30  4793  4793  4273       4197          4449
2012-09-30  4822  4822  4292       4210          4473
2012-12-31  5500  5500  5283       5131          5135
2013-03-31  4742  4742  4420       4322          4585
2013-06-30  4865  4865  4536       4420          4702
2013-09-30  4794  4794  4557       4436          4727
2013-12-31  6101  6101  5903       5686          5467
2014-03-31  4861  4861  4554       4420          4681
2014-06-30  5059  5059  4662       4518          4807
2014-09-30  5100  5100  4599       4446          4740
2014-12-31  6869  6869  6660       6410          6082
2015-03-31  5262  5262  4663       4504          4794
2015-06-30  5503  5503  4850       4676          5005
2015-09-30  5632  5632  4884       4718          5046
2015-12-31  7140  7140  6877       6613          6836
2016-03-31  5710  5710  5029       4845          5166
2016-06-30  6178  6178  5269       5072          5420
2016-09-30  6084  6084  5405       5208          5371
2016-12-31  7601  7601  7264       7005          7112
2017-03-31  6362  6362  5492       5255          5467
2017-06-30  6907  6907  5935       5658          6065
2017-09-30  6775  6775  5851       5588          5883
2017-12-31  8570  8570  8286       7900          7576
2018-03-31  6926  6926  6128       5835          6251
2018-06-30  7157  7157  6639       6320          6816
2018-09-30  7206  7206  6480       6196          6656
2018-12-31  9424  9424  9133       8672          8542
2019-03-31  7324  7324  6609       6299          6753
2019-06-30  7796  7796  6877       6522          7030
2019-09-30  7731  7731  6902       6557          6945
2019-12-31  9485  9485  9164       8692          9392
2020-03-31  8020  8020  6952       6624          6959
2020-06-30  8662  8662  7425       7069          7432
2020-09-30  8547  8547  7351       6998          7369
2020-12-31  9459  9459  9091       8676          9430
2021-03-31  8819  8819  7647       7277          7570
2021-06-30  9300  9300  8267       7879          8357
2021-09-30  5000  5000  4506       4406          4312
2021-12-31  9433  9433  9070       8628          9396
2022-03-31  5534  5534  5072       4916          5113

In [31]:
df_close = df.pivot(index=['Trddt'], columns='Stkcd', values=['Clsprc'])

In [33]:
df_return = df_close / df_close.shift(1) - 1
df_return

              Clsprc                                                    \
Stkcd         1         2         4         5         6         7
Trddt
2010-01-04       NaN       NaN       NaN       NaN       NaN       NaN
2010-01-05 -0.017292 -0.022642       NaN  0.035058 -0.028777  0.037518
2010-01-06 -0.017167  0.000000       NaN -0.019355  0.002778  0.000000
2010-01-07 -0.010917 -0.007722       NaN -0.041118 -0.008310 -0.029207
2010-01-08 -0.002208  0.006809       NaN  0.010292  0.024209  0.007163
...              ...       ...       ...       ...       ...       ...
2022-01-24 -0.008646  0.002773  0.015625  0.004739 -0.011086  0.011696
2022-01-25 -0.020349 -0.040553 -0.056410 -0.033019 -0.038117 -0.014451
2022-01-26 -0.011869 -0.004323  0.099802  0.004878  0.009324 -0.049853
2022-01-27 -0.021021 -0.013989 -0.083558  0.009709 -0.020785 -0.049383
2022-01-28 -0.028834 -0.005382  0.023039  0.028846  0.011792  0.034091

                                                    ...                      \
Stkcd         8         9         10        11      ...    900947    900948
Trddt                                               ...
2010-01-04       NaN       NaN       NaN       NaN  ...       NaN       NaN
2010-01-05       NaN -0.025830 -0.017782 -0.031015  ...  0.002387  0.034447
2010-01-06       NaN -0.000947  0.010345  0.002910  ... -0.001190 -0.005012
2010-01-07       NaN  0.018957 -0.039249 -0.023211  ... -0.020262 -0.017126
2010-01-08       NaN  0.048372  0.017762  0.009901  ...  0.007299  0.013552
...              ...       ...       ...       ...  ...       ...       ...
2022-01-24  0.011364  0.019900 -0.019022 -0.007819  ... -0.021127  0.001105
2022-01-25 -0.056180 -0.052265 -0.060942 -0.044658  ... -0.025180 -0.026490
2022-01-26  0.027778 -0.018382  0.011799  0.024748  ...  0.000000  0.007937
2022-01-27 -0.027027 -0.037453 -0.026239 -0.033989  ...  0.000000 -0.003375
2022-01-28  0.011905 -0.003113  0.005988  0.012037  ... -0.007380  0.040632

                                                                        \
Stkcd         900949    900950    900951    900952    900953    900955
Trddt
2010-01-04       NaN       NaN       NaN       NaN       NaN       NaN
2010-01-05  0.012950  0.017305  0.013011  0.010417  0.027816 -0.014184
2010-01-06  0.001420  0.015796 -0.009174 -0.006186  0.020298  0.018705
2010-01-07 -0.017021 -0.011962 -0.029630 -0.012448 -0.011936 -0.004237
2010-01-08  0.002886  0.007264  0.011450  0.010504  0.006711  0.012766
...              ...       ...       ...       ...       ...       ...
2022-01-24       NaN       NaN       NaN -0.016129 -0.011834 -0.016667
2022-01-25       NaN       NaN       NaN -0.004098 -0.014970 -0.016949
2022-01-26       NaN       NaN       NaN  0.016461  0.000000  0.008621
2022-01-27       NaN       NaN       NaN -0.008097 -0.012158 -0.051282
2022-01-28       NaN       NaN       NaN  0.008163  0.006154 -0.018018


Stkcd         900956    900957
Trddt
2010-01-04       NaN       NaN
2010-01-05  0.015038 -0.007326
2010-01-06 -0.001235  0.007380
2010-01-07 -0.019778 -0.032967
2010-01-08 -0.001261  0.000000
...              ...       ...
2022-01-24       NaN -0.026646
2022-01-25       NaN -0.016103
2022-01-26       NaN  0.004910
2022-01-27       NaN -0.003257
2022-01-28       NaN  0.008170

[2936 rows x 4824 columns]

In [ ]:
df = df.shift(1)
df_rank = df.rank(ascending=rev)
return df_return.shift(-1)[df_rank<=top].mean(axis=1)